[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtts = "*"
numpy = "*"
opencv-contrib-python = "*"
pillow = "*"
imageio = "*"
ffmpeg-python = "*"
imageio-ffmpeg = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
